p{
  font-family: 'Bubbler One', sans-serif;
  font-size: 3.5em;
  text-align: center;
}
#pitch{
  margin: 30px;
  background-color: #ffffff;
  border: 2px solid black;
  opacity: 0.6;
}
#pitch.p{
  margin: auto;
  font-weight: bold;
  color: black;
}

li{
  display: inline;
  font-size: 150%;
  margin-right: 30px;
  padding: 5px;
  text-align: center;
}
.port a{
  font-size: 4em;
}
.about a{
  font-size: 1.7em;
}
.contact{
  font-size: 4em;
}
a{
  font-family: 'Bubbler One', sans-serif;
  text-align: center;
}
